#root {
    color: rgb(227 227 228);
}


.Content {
    float: right;
    padding: 12px; /* Зміни параметрів padding для збереження відстані 12px */
    width: 80%;
    height: 100vh; /* Встановлюємо висоту в 100% від верху до низу */
    background-color:rgb(30 30 30);
    font-size: 36px;
}

.Sidebar {
    float: left;
    padding: 10px;
    background: rgb(35 35 39);
    height: 100vh; /* Встановлюємо висоту в 100% від верху до низу */
    width: 20%;
}

.Sidebar-NotesList{
    padding: 0;
}

.NotesList-NoteItem {
    list-style: none;
    border-bottom: 1px rgb(63 63 66) solid;
    padding: 4px;
    margin: 4px 0 4px 0;
    transition: 1s;
}

.NotesList-NoteItem:hover {
    background-color: rgb(227 227 228);
    color: black;
}

.selected {
    opacity: 60%;
}

.Content textarea {
    background: transparent;
    border: none;
    outline: none;
    resize: none;
    color: rgb(227 227 228);
    width: 100%;
    min-height: 300px;
    
}

.Content button {
    background: transparent;
    border: 2px solid rgb(227 227 228);
    border-radius: 8px;
    outline: none;
    resize: none;
    color: rgb(227 227 228);
    transition: 0.8s;
    margin: 8px;
}

.Content button:hover {
    background-color:rgb(227 227 228);
    border: 2px solid rgb(227 227 228);
    border-radius: 8px;
    color: rgb(0, 0, 0);
    transition: 1s;
}

.CreateNoteButton {
    background: transparent;
    outline: none;
    resize: none;
    border: none;
    transition: 0.8s;
    padding: 0;
}

.CreateNoteButton path {
    transition: 0.8s;
}

.CreateNoteButton:hover {
    background-color: rgb(227 227 228);
    fill: black;
}

.CreateNoteButton:hover path {
    fill: black;
}
