#root {
    color: rgb(227 227 228);
}


.Content {
    float: right;
    padding: 12px; /* Зміни параметрів padding для збереження відстані 12px */
    width: 80%;
    height: 100vh; /* Встановлюємо висоту в 100% від верху до низу */
    background-color:rgb(30 30 30);
    font-size: 36px;
}


.Sidebar {
    position: relative; /* Изменено свойство position */
    float: left;
    padding: 10px;
    background-color: rgb(35 35 39);
    height: 100vh;
    width: 20%;
}

.Sidebar-Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.Header {
    background-color: rgb(39 39 39);
    padding: 8px;
}

.Header button {
    background-color:rgb(227 227 228);
    border: none;
    border-radius: 8px;
    outline: none;
    resize: none;
    color: rgb(0, 0, 0);
    transition: 0.8s;
}

.Header button:hover {
    background: transparent;
    border-radius: 8px;
    color: rgb(227 227 228);
    transition: 1s;
}

.Sidebar-NotesList{
    padding: 0;
}

.NotesList-NoteItem {
    list-style: none;
    border-bottom: 1px rgb(63 63 66) solid;
    padding: 4px;
    margin: 4px 0 4px 0;
    transition: 1s;
}

.NotesList-NoteItem:hover {
    background-color: rgb(227 227 228);
    color: black;
}

.selected {
    opacity: 40%;
    transition: 0.5s;
}

.Content textarea {
    background: transparent;
    border: none;
    outline: none;
    resize: none;
    color: rgb(227 227 228);
    width: 100%;
    min-height: 300px;
    
}

.Content button {
    background: transparent;
    border: 2px solid rgb(227 227 228);
    border-radius: 8px;
    outline: none;
    resize: none;
    color: rgb(227 227 228);
    transition: 0.8s;
    margin: 8px;
}

.Content button:hover {
    background-color:rgb(227 227 228);
    border: 2px solid rgb(227 227 228);
    border-radius: 8px;
    color: rgb(0, 0, 0);
    transition: 1s;
}

.CreateNoteButton {
    background: transparent;
    outline: none;
    resize: none;
    border: none;
    transition: 0.8s;
    padding: 0;
}

.CreateNoteButton path {
    transition: 0.8s;
    float: left;
}

.CreateNoteButton:hover {
    background-color: rgb(227 227 228);
    fill: black;
}

.CreateNoteButton:hover path {
    fill: black;
}

.dropdown-toggle {
    background-color:rgb(227 227 228);
    border: none;
    border-radius: 8px;
    outline: none;
    resize: none;
    color: rgb(0, 0, 0);
    transition: 0.8s;
    float: right;
    position: relative;
}

.dropdown-toggle:hover {
    background: transparent;
    border-radius: 8px;
    color: rgb(227 227 228);
    transition: 1s;
}

.CategoryDropdownMenu {
    position: relative;
    display: inline-block;
    top: 100%; /* Помещаем меню под кнопкой */
    left: 0;
    z-index: 1;
}

.CategoryDropdownMenu-List {
    overflow: auto;
    box-shadow: 0px 8px 8px 8px rgba(0,0,0,0.6);
    position: absolute;
    overflow-y: auto;
    max-height: 150px; /* Set your desired max height */
    z-index: 1;
    padding: 0;
    top: 100%; 
}

.CategoryDropdownMenu-List li {
    list-style: none;
    padding: 8px;
    background-color: rgb(35 35 39);
    color: rgb(227 227 228);
    cursor: pointer;
}

.CategoryDropdownMenu-List li:hover {
    background-color: rgb(227 227 228);
    color: black;
}
