#root {
    color: rgb(227 227 228);
}


.Content {
    float: right;
    padding: 12px; /* Зміни параметрів padding для збереження відстані 12px */
    width: 80%;
    height: 100vh; /* Встановлюємо висоту в 100% від верху до низу */
    background-color:rgb(30 30 30);
    font-size: 36px;
}


.Sidebar {
    position: relative; /* Изменено свойство position */
    float: left;
    padding: 10px;
    background-color: rgb(35 35 39);
    height: 100vh;
    width: 20%;
}

.Sidebar-Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.Header {
    background-color: rgb(39 39 39);
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Search {
    flex-grow: 1;
    display: flex;
    justify-content: center;  /* Центрируем содержимое */
    align-items: center;
}

.Search.hidden {
    display: none;
}

.Search input {
    margin-right: 10px;  /* Добавьте отступ для разделения от кнопки */
    width: 300px;
    height: 26px;
    border-radius: 8px;
    border: none;
    padding: 8px;
}

.SearchButton {
    background: transparent;
    border: none;
    border-radius: 8px;
    outline: none;
    resize: none;
    margin: 8px;
    transition: 1s;
    padding: 2px;
    padding-left: 4px;
}

.SearchButton:hover {
    background-color: white;
    fill: black;
    transition: 1s;
}

.SearchButton:hover path {
    fill: black;
    transition: 1s;
}

.Auth button {
    background-color:rgb(227 227 228);
    border: none;
    border-radius: 8px;
    outline: none;
    resize: none;
    color: rgb(0, 0, 0);
    transition: 0.8s;
}

.Auth button:hover {
    background: transparent;
    border-radius: 8px;
    color: rgb(227 227 228);
    transition: 1s;
}

.AuthForm {
    
}

.AuthForm-Input {
    width: 600px;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.Sidebar-NotesList{
    padding: 0;
}

.NotesList-NoteItem {
    list-style: none;
    border-bottom: 1px rgb(63 63 66) solid;
    padding: 4px;
    margin: 4px 0 4px 0;
    transition: 1s;
}

.NotesList-NoteItem:hover {
    background-color: rgb(227 227 228);
    color: black;
}

.selected {
    opacity: 40%;
    transition: 0.5s;
}

.Content textarea {
    background: transparent;
    border: none;
    outline: none;
    resize: none;
    color: rgb(227 227 228);
    width: 100%;
    min-height: 300px;
    
}

.Content button {
    background: transparent;
    border: 2px solid rgb(227 227 228);
    border-radius: 8px;
    outline: none;
    resize: none;
    color: rgb(227 227 228);
    transition: 0.8s;
    margin: 8px;
}

.Content button:hover {
    background-color:rgb(227 227 228);
    border: 2px solid rgb(227 227 228);
    border-radius: 8px;
    color: rgb(0, 0, 0);
    transition: 1s;
}

.CreateNoteButton {
    background: transparent;
    outline: none;
    resize: none;
    border: none;
    transition: 0.8s;
    padding: 0;
}

.CreateNoteButton path {
    transition: 0.8s;
    float: left;
}

.CreateNoteButton:hover {
    background-color: rgb(227 227 228);
    fill: black;
}

.CreateNoteButton:hover path {
    fill: black;
}

.dropdown-toggle {
    background-color:rgb(227 227 228);
    border: none;
    border-radius: 8px;
    outline: none;
    resize: none;
    color: rgb(0, 0, 0);
    transition: 0.8s;
    float: right;
    position: relative;
}

.dropdown-toggle:hover {
    background: transparent;
    border-radius: 8px;
    color: rgb(227 227 228);
    transition: 1s;
}

.CategoryDropdownMenu {
    position: relative;
    display: inline-block;
    top: 100%; /* Помещаем меню под кнопкой */
    left: 0;
    z-index: 1;
}

.CategoryDropdownMenu-List {
    overflow: auto;
    box-shadow: 0px 8px 8px 8px rgba(0,0,0,0.6);
    position: absolute;
    overflow-y: auto;
    max-height: 150px; /* Set your desired max height */
    z-index: 1;
    padding: 0;
    top: 100%; 
}

.CategoryDropdownMenu-List li {
    list-style: none;
    padding: 8px;
    background-color: rgb(35 35 39);
    color: rgb(227 227 228);
    cursor: pointer;
}

.CategoryDropdownMenu-List li:hover {
    background-color: rgb(227 227 228);
    color: black;
}

